<form class="form">
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <app-simulator-input type="$" title="Initial Investment" >
            <input type="text" class="input-field" aria-label="Dollar amount" name="initialInvestment" 
          placeholder="Initial Investment" [(ngModel)]="simulatorFields.initialInvestment" mask="comma_separator.2">
        </app-simulator-input>
    </div>
    <div class="col-md-6 col-xs-12">
        <app-simulator-input type="$" title="Monthly Investment" >
            <input type="text" class="input-field" aria-label="Dollar amount" name="monthInvestment" 
          placeholder="Monthly Investment" [(ngModel)]="simulatorFields.monthInvestment" mask="comma_separator.2">
        </app-simulator-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <app-simulator-input type="%" title="Monthly Profitability Rate" >
            <input type="text" class="input-field" aria-label="Tax Rate" name="profitabilityRate" placeholder="Tax Rate" 
          [(ngModel)]="simulatorFields.profitabilityRate" mask="percent" mask="comma_separator.2">
        </app-simulator-input>
    </div>
    <div class="col-md-6 col-xs-12">
        <app-simulator-input type="" title="Months" >
            <input digitOnly type="text" class="input-field deadline-field" aria-label="Tax Rate" name="deadline" placeholder="Deadline" 
          [(ngModel)]="simulatorFields.deadline" mask="0000">
        </app-simulator-input>
    </div>
  </div>

  <div class="button-section col-12">
      <button *ngIf="isTableVoid()" type="button" class="btn btn-primary btn-lg" (click)="generateTable()">Simulate</button>
      <button *ngIf="!isTableVoid()" type="button" class="btn btn-primary btn-lg" (click)="generateTable()">Recalculate</button>
      
      <br><br>
      <!--
      &nbsp;
      <button *ngIf="!isTableVoid()" type="button" class="btn btn-primary btn-lg" (click)="generateTable()">Plot Chart</button>-->
  </div>

</form>