<form>
    <table class="table table-dark">
      <tr>
        <td>
          <app-simulator-input type="$" title="Initial Investment" >
              <input type="text" class="form-control" aria-label="Dollar amount" name="initialInvestment" 
            placeholder="Initial Investment" [(ngModel)]="simulatorFields.initialInvestment" mask="comma_separator.2">
          </app-simulator-input>
        </td>
        <td>
          <app-simulator-input type="$" title="Monthly Investment" >
              <input type="text" class="form-control" aria-label="Dollar amount" name="monthInvestment" 
            placeholder="Month Investment" [(ngModel)]="simulatorFields.monthInvestment" mask="comma_separator.2">
          </app-simulator-input>
        </td>
      </tr>
      <tr>
        <td>
          <app-simulator-input type="%" title="Average of Profitability Rate" >
              <input type="text" class="form-control" aria-label="Tax Rate" name="profitabilityRate" placeholder="Tax Rate" 
            [(ngModel)]="simulatorFields.profitabilityRate" mask="percent" mask="comma_separator.2">
          </app-simulator-input>
        </td>
        <td>
          <app-simulator-input type="" title="Months" >
              <input digitOnly type="text" class="form-control" aria-label="Tax Rate" name="deadline" placeholder="Deadline" 
            [(ngModel)]="simulatorFields.deadline" mask="0000">
          </app-simulator-input>
        </td>
      </tr>
    </table>
  
    <button type="button" class="btn btn-primary btn-lg" (click)="generateTable()">Simulate</button>
  
    <br/><br/>
  
  </form>