<table class="table table-dark" *ngIf="months && months.length > 0">
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Opening Balance</th>
      <th scope="col">Interest</th>
      <th scope="col">Balance + Interest</th>
      <th scope="col">Month Investment</th>
      <th scope="col">Additional Investment</th>
      <th scope="col">Total Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let month of months">
      <td>{{month | json}}</td>
      <td scope="row">{{month.month}}</td>
      <td>{{month.openingBalance | currency:'USD'}}</td>
      <td>{{month.interest | currency:'USD'}}</td>
      <td>{{month.balancePlusInterest | currency:'USD'}}</td>
      <td>{{month.monthInvestment | currency:'USD'}}</td>
      <td>
          <input type="text" class="form-control" aria-label="input" name="profitabilityRate{{month.month}}" 
          [(ngModel)]="month.additionalInvestment" (ngModelChange)="applyAdditionalInvestment(month)" mask="comma_separator.2">
      </td>
      <td>{{month.totalBalance | currency:'USD'}}</td>
      <!-- <td>{{month.totalBalance | currency:'USD'}}</td> -->
    </tr>
  </tbody>
</table>