<div class="complete-table col-sm-12 d-none d-sm-block">

  <div *ngIf="months && months.length > 0">
    <div class="table-header row">
      <div class="col-sm-1">Month</div>
      <div class="col-sm-2">Opening Balance</div>
      <div class="col-sm-2">Interest</div>
      <div class="col-sm-2">Balance + Interest</div>
      <div class="col-sm-2">Month Investment</div>
      <div class="col-sm-1">Additional</div>
      <div class="col-sm-2">Total Balance</div>
    </div>
    <div class="table-content row" *ngFor="let month of months">
      <div class="col-sm-1">{{month.month}}</div>
      <div class="col-sm-2">{{month.openingBalance | currency:'USD'}}</div>
      <div class="col-sm-2">{{month.interest | currency:'USD'}}</div>
      <div class="col-sm-2">{{month.balancePlusInterest | currency:'USD'}}</div>
      <div class="col-sm-2">{{month.monthInvestment | currency:'USD'}}</div>
      <div class="col-sm-1">
        <input type="text" class="table-input" aria-label="input" name="profitabilityRate{{month.month}}" 
        [(ngModel)]="month.additionalInvestment" (ngModelChange)="applyAdditionalInvestment(month)" mask="comma_separator.2">
      </div>
      <div class="col-sm-2">{{month.totalBalance | currency:'USD'}}</div>
    </div>
  </div>

</div>