<div class="conteiner-fluid">
    <div class="header col-12"></div>
    <div class="col-12">
        <h6 class="title"><b>INVESTMENT SIMULATOR</b></h6>
        <p class="sub-title">Compound Interest Calculation for Financial Planning</p>
        <p class="description">This is a compound interest tool for you to simulate the profit you will earn by the desired time.
        Research the monthly income rate of your investment and fill in the fields below to start the simulation.
        Good profit!</p>

        <app-simulator-form></app-simulator-form>
        <app-simulator-table></app-simulator-table>
        <app-simulator-result></app-simulator-result>

    </div>
    <div class="footer col-12">
      Crafted by Vinicius Braga
    </div>
</div>